{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <h1 class="text-center my-4">Register</h1>

    <div class="row justify-content-center">
        <div class="col-md-6">
            {{ form_start(registrationForm) }}
            
            <div class="mb-3">
                {{ form_label(registrationForm.email, 'Email', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(registrationForm.email, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(registrationForm.password.first, 'Password', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(registrationForm.password.first, {'attr': {'class': 'form-control'}}) }}
            </div>

            <div class="mb-3">
                {{ form_label(registrationForm.password.second, 'Repeat Password', {'label_attr': {'class': 'form-label'}}) }}
                {{ form_widget(registrationForm.password.second, {'attr': {'class': 'form-control'}}) }}
            </div>

            <button type="submit" class="btn btn-primary w-100">Register</button>
            
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}